<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Injecting  a html file on a specific server route by setting "view engine" as 'ejs' in the app.js file</p>
    <form action="/get-form-data">
        <input type="text" placeholder="Enter username" name="username">
        <input type="password" placeholder="Enter password" name="passord">
        <button>Submit</button>

    </form>
</body>
</html>